.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.d-block.w-100{
    width: auto;
    height: 500px;
    object-fit: cover;
}
.meadiumHeading {
    text-transform: capitalize;
    font-weight: 500;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}
.container.services {
    padding: 20px 20px 40px 20px;
}
.card-text {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.smallHeading {
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.portfolio_row {
    padding: 10px 0 30px 0;
}
.portfolio_img {
    height: 250px;
    width: 700px;
    object-fit: cover;
    padding-bottom: 10px;
}