.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.d-block.w-100{
    width: auto;
    height: 500px;
    object-fit: cover;
}
.meadiumHeading {
    text-transform: capitalize;
    font-weight: 500;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}
.container.services {
    padding: 20px 20px 40px 20px;
}
.card {
    margin-bottom: 20px;
}
.card-text {
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.smallHeading {
    text-transform: capitalize;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.portfolio_row {
    padding: 10px 0 30px 0;
}
.portfolio_img {
    height: 250px;
    width: 700px;
    object-fit: cover;
    padding-bottom: 10px;
}
.modern {
    padding: 10px 0 30px 0;
    border-bottom: 1px solid lightgray;
}
.call_to_action {
    border-bottom: 1px solid lightgray;
}
.jumbotron {
    padding: 20px;
    margin: 20px 0;
}
.btn-lg {
    padding: 10px 50px;
}
.copyright {
    padding: 30px;
}
@media and (min-width: 768px) {
    .col-sm-4 {
        width: 50%;
    }
}
